<section id="contact" class="bg-primary text-white mb-0"">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-center text-uppercase text-white">Contact</h2>
        <hr class="star-light mb-5">
      </div>
    </div>
    <div class="col-sm">
        <h3 style="text-align: center">Comedy</h3>
        <table cellpadding="5" cellspacing="0" border="0">
<tr><td height="25"><iframe width="100%" height="25" scrolling="no" name="subnav" frameborder="0"></iframe></td></tr>
<tr>
  <td align="center" valign="top">


<img src="images/header3_contact.png" width="750" height="150" vspace="20">


<table cellpadding="20" cellspacing="0" border="0" background="images/body_bg3.png">
<tbody><tr>
<td class="body_text" width="650">


<table cellpadding="10" cellspacing="0" border="0">
<!--
<tr>
<td width="400" class="body_text" valign="middle" align="center"><b class="body_text_18"><i>UGA TALENT</i></b>
  <P>U-Shin Kim<br>
    <a href="mailto:ushin@ugatalent.com">ushin@ugatalent.com</a><br>
    917-907-4663</P></td>
<td width="250" align="center"><img src="images/contact_uga.jpg" width="150" height="150" alt="UGA Talent"></td>
</tr>-->
<tbody><tr>
<td width="325" align="center" valign="top" class="body_text"><p><b class="body_text_18"><i>DANIEL HOFF AGENCY</i></b>
  </p>
  <p>Dustin Flores<br>
    <a href="mailto:Dustin@danielhoffagency.com">Dustin@danielhoffagency.com</a><br>
347-620-4633
</p>
  <p>Marc Ferré<br>
    <a href="mailto:Marc@danielhoffagency.com" target="_blank">Marc@danielhoffagency.com</a><br>
347-620-4633
</p> </td>
<td width="325" class="body_text" valign="top" align="center"><b class="body_text_18"><i>WRIGHT TALENT MANAGEMENT</i></b>
  <p>Charlie Wright <br>
    <a href="mailto:wrighttalent@optonline.net">wrighttalent@optonline.net</a><br>
    631-495-7141</p>  </td>
</tr>
</tbody></table>
      </div>
    </div>
  </div>
</section>
