<section id="contact" class="bg-primary text-white mb-0"">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-center text-uppercase text-white">Contact</h2>
        <hr class="star-light mb-5">
      </div>
    </div>
    <div class="col-sm">
        <h3 style="text-align: center">Comedy</h3>
        <table cellpadding="5" cellspacing="0" border="0">
<tbody><tr>

</tr>
</p>
  <p>Dustin Flores<br>
    <a href="mailto:Dustin@danielhoffagency.com">Dustin@danielhoffagency.com</a><br>
347-620-4633
</p>
  <p>Marc Ferré<br>
    <a href="mailto:Marc@danielhoffagency.com" target="_blank">Marc@danielhoffagency.com</a><br>
347-620-4633
</p> </td>
<td width="325" class="body_text" valign="top" align="center"><b class="body_text_18"><i>WRIGHT TALENT MANAGEMENT</i></b>
  <p>Charlie Wright <br>
    <a href="mailto:wrighttalent@optonline.net">wrighttalent@optonline.net</a><br>
    631-495-7141</p>  </td>
</tbody></table>
      </div>
    </div>
  </div>
</section>
