<section id="contact" class="bg-primary text-white mb-0"">
  <div class="container">
    <div class="row">
      <div class="col text-center">
      <h3 style="text-align: center">Training</h3>
      <br>
  <table cellpadding="5" cellspacing="0" border="0">
  <tbody><tr>
  <td width="15"></td>
  <td width="225" class="body_text" valign="top">B.A. Drama</td>
  <td width="375" class="body_text" valign="top">Catholic University of America</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">Acting</td>
    <td class="body_text" valign="top">Uta Hagen, Michael Disher</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">Scene Study</td>
    <td class="body_text" valign="top">Olympia Dukakis, Thomas G. Waites, Alec Baldwin</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">On Camera</td>
    <td class="body_text" valign="top">Richard Kline, Eric Loeb</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">On Camera Audition Technique</td>
    <td class="body_text" valign="top">Anthony Robert Grasso, Devin Shacket, James Rees</td>
  </tr>
  </tbody></table><br><br>
      </div>
    </div>
  </div>
</section>
