<section id="media" class="bg-primary text-white mb-0"">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-center text-uppercase text-white">Media</h2>
        <hr class="star-light mb-5">
      </div>
    </div>
    <div class="col-sm">
        <h3>Television</h3>
        <ul>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, aliquam.
            <a target="_blank" href="http://example.com/">
              Some link
            </a>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla minus, officia
            velit odit rerum nihil nemo aspernatur tenetur eum assumenda.
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ipsa
            iure laboriosam illum perspiciatis qui at blanditiis quas facilis! Sit
            repellendus nam cumque reprehenderit quisquam sequi laudantium similique fugit
            labore, nostrum? Nemo quasi, omnis vel impedit. Molestiae amet, libero aspernatur.
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, obcaecati.
            And another
            <a target="_blank" href="http://example.com/">
              Link
            </a>
            Lorem ipsum dolor sit amet.
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <h3>Movies</h3>
        <ul>
          <li>
            <a target="_blank" href="https://www.example.com/">
              <span class="font-italic font-weight-bold">SomeSiteIveBuilt.com</span>
            </a>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aut possimus, voluptatum
          libero dignissimos odit beatae doloribus delectus voluptatem rem adipisci aspernatur, l
          aborum. Distinctio fuga fugit mollitia optio libero at.
          </li>
          <li>
            <a target="_blank" href="https://example.com">
              <span class="font-italic font-weight-bold">SomethingElse.com</span>
            </a>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, molestiae.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
