<section id="media">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Media</h2>
    <hr class="star-dark mb-5">
    <div class="row text-center">
  

      <br>
<table cellpadding="5" cellspacing="0" border="0">
  <tbody><tr>
<td width="325" align="center" valign="top" class="body_text"><p><b class="body_text_18"><i>Comedy</i></b>
    <!-- Video -->
  <div style="background-color: #FFF; padding: 15px; margin: 0 2% 4% 0;">
   <tr>
<!--
<td><a href="https://player.vimeo.com/video/295017582?autoplay=1&title=0&byline=0&portrait=0" target="video"><img src="images/video_thumb_reel.png" alt="Reel" width="200" height="112" border="0"></a></td>-->
<!-- <td><a href="https://player.vimeo.com/video/504133813?autoplay=1&amp;title=0&amp;byline=0&amp;portrait=0" target="video"><img src="img/video_thumb_girls2.png" alt="Girls / HBO" width="150" height="112" hspace="5" border="0"></a></td> -->
<td><a href="https://player.vimeo.com/video/493903226?autoplay=1&amp;title=0&amp;byline=0&amp;portrait=0" target="video"><img src="img/video_thumb_opposite2.png" alt="The Opposite of Sex" width="200" height="112" hspace="5" border="0"></a></td>
<td><a href="https://player.vimeo.com/video/493904289?autoplay=1&amp;title=0&amp;byline=0&amp;portrait=0" target="video"><img src="img/video_thumb_titans2.png" alt="Titans of Gefa" width="200" height="112" hspace="5" border="0"></a></td>
</tr>
  </div>
    </td>

  </tr>
  </tbody></table>
      <br>
<table cellpadding="5" cellspacing="0" border="0">
  <tbody><tr>
<td width="325" class="body_text" valign="top" align="center"><b class="body_text_18"><i>Drama</i></b>
   <!-- Video -->
  <div style="background-color: #FFF; padding: 15px; margin: 0 0 4% 2%;">
    <tr>
<td><a href="https://player.vimeo.com/video/295020341?autoplay=1&amp;title=0&amp;byline=0&amp;portrait=0" target="video"><img src="img/video_thumb_svu2.png" alt="Law &amp; Orer: SVU" width="200" height="112" hspace="5" border="0"></a></td>
<td><a href="https://player.vimeo.com/video/295020113?autoplay=1&amp;title=0&amp;byline=0&amp;portrait=0" target="video"><img src="img/video_thumb_gotham2.png" alt="Gotham" width="200" height="112" hspace="5" border="0"></a></td>
</tr>
  </div>
  </tbody></table>
    </div>
  </div>
</section>
