<section id="media">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Media</h2>
    <hr class="star-dark mb-5">
    <div class="row text-center">
  

      <br>
<table cellpadding="5" cellspacing="0" border="0">
  <tbody><tr>
<td width="325" align="center" valign="top" class="body_text"><p><b class="body_text_18"><i>Comedy</i></b>
    <!-- Video 1 -->
  <div style="background-color: #FFF; padding: 15px; margin: 0 2% 4% 0;">
    <h3 style="border-bottom: 1px solid; margin: 0 0 8px 0;">Pine Siskin</h3>
    <div style="position: relative; width: 100%; padding-top: 56.25%;">
      <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/DvKm5NjGXzM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
    </div>
    <p style="margin: 16px 0 0 0; color: #000"><strong>Summary:</strong> Learn about the Pine Siskin, nature’s smallest and most social finch. You may see them arrive at your backyard bird feeders in droves in the early spring.</p>
  </div>
  <!-- Video 2 -->
  <div style="background-color: #FFF; padding: 15px; margin: 0 2% 4% 0;">
    <h3 style="border-bottom: 1px solid; margin: 0 0 8px 0;">The African Bullfrog</h3>
    <div style="position: relative; width: 100%; padding-top: 56.25%;">
      <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/5jyVYpQBCDs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
    </div>
    <p style="margin: 16px 0 0 0; color: #000"><strong>Summary:</strong> Bullfrogs may sound like mooing cows, but they’re actually much smaller.</p>
  </div>
    </td>

  </tr>
  </tbody></table>
      <br>
<table cellpadding="5" cellspacing="0" border="0">
  <tbody><tr>
<td width="325" class="body_text" valign="top" align="center"><b class="body_text_18"><i>Drama</i></b>
   <!-- Video 3 -->
  <div style="background-color: #FFF; padding: 15px; margin: 0 0 4% 2%;">
    <h3 style="border-bottom: 1px solid; margin: 0 0 8px 0;">Lifecycle of Salmon</h3>
    <div style="position: relative; width: 100%; padding-top: 56.25%;">
      <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/EqmGSexPaEk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
    </div>
    <p style="margin: 16px 0 0 0; color: #000"><strong>Summary:</strong> From freshwater to the sea and back again. The king salmon is nature's biggest, but smallest, traveler. A favorite among specators watching the annual spawn runs each year.</p>
  </div>
  <!-- Video 4 -->
  <div style="background-color: #FFF; padding: 15px; margin: 0 0 4% 2%;">
    <h3 style="border-bottom: 1px solid; margin: 0 0 8px 0;">River Otters</h3>
    <div style="position: relative; width: 100%; padding-top: 56.25%;">
      <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/Qve3jLhMYRI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
    </div>
    <p style="margin: 16px 0 0 0; color: #000"><strong>Summary:</strong> Playful and slippery, these otters know how to have fun. They also have sharp teeth.</p>
  </div>
  </tbody></table>
    </div>
  </div>
</section>
