<nav class="navbar navbar-expand-md navbar-dark bg-gradient">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
   <div class="topnav" id="myTopnav">
  <a href="#about" class="active">About</a>
  <a href="#media">Media</a>
       <div class="dropdown">
    <button class="dropbtn">Gallery 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#headshots">Headshots</a>
      <a href="#production">Production Phots</a>
    </div>
  </div>
   <a href="#resume">Resume</a>     
  <a href="#contact">Contact</a>
  </div> 
</div>

</nav>

<script>
    
    function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
    
</script>
