<section id="production">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Production Photos</h2>
    <hr class="star-dark mb-5">
    <div class="row text-center">
  

      <br>
<table cellpadding="5" cellspacing="0" border="0">
  <tbody><tr>
    <!-- Video -->
  <div style="background-color: #FFF; padding: 15px; margin: 0 2% 4% 0;">
   <tr>
<td><a href="img/gallery_headshots_02.jpg" rel="lightbox[headshots]" title="Photo by:  Douglas Gorenstein "><img src="img/gallery_headshots_thumb3_02.jpg" width="175" height="350" hspace="0" vspace="0" border="0"></a></td>
<td><a href="img/gallery_headshots_01.jpg" rel="lightbox[headshots]" title="Photo by:  Douglas Gorenstein "><img src="img/gallery_headshots_thumb3_01.jpg" width="175" height="350" hspace="0" vspace="0" border="0"></a></td>
</tr>
  </div>
    </td>

  </tr>
  </tbody></table>
    </div>
  </div>
</section>
