<!-- Resume Section -->
<section id="resume">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Resume</h2>
    <hr class="star-dark mb-5">
    <div class="row text-center">
      <h3 style="text-align: center">Television</h3>
  <table cellpadding="5" cellspacing="0" border="0">
  <tbody><tr>
  <td width="15"></td>
  <td width="225" class="body_text" valign="top">Law &amp; Order: SVU</td>
  <td width="150" class="body_text" valign="top">Co-Star</td>
  <td width="225" class="body_text" valign="top">NBC</td>
  </tr>
  <tr>
  <td></td>
  <td width="225" class="body_text" valign="top">Gotham</td>
  <td width="150" class="body_text" valign="top">Co-Star</td>
  <td width="225" class="body_text" valign="top">Fox</td>
  </tr>
  <tr>
  <td></td>
  <td width="225" class="body_text" valign="top">Girls</td>
  <td width="150" class="body_text" valign="top">Co-Star</td>
  <td width="225" class="body_text" valign="top">HBO</td>
  </tr>
  <tr>
  <td></td>
  <td width="225" class="body_text" valign="top">Titans of Gefa</td>
  <td width="150" class="body_text" valign="top">Recurring</td>
  <td width="225" class="body_text" valign="top">PILOT - 24k Black Films</td>
  </tr>
  </tbody></table><br><br>
  
  
  
  
  <h3 style="text-align: center">Film</h3>
  <table cellpadding="5" cellspacing="0" border="0">
  <tbody><tr>
  <td width="15"></td>
  <td width="225" class="body_text" valign="top">Pinball: The Man Who Saved The Game</td>
  <td width="150" class="body_text" valign="top">Supporting</td>
  <td width="225" class="body_text" valign="top">Dir. Austin Bragg &amp; Meredith Bragg</td>
  </tr>
  <tr>
  <td width="15"></td>
  <td width="225" class="body_text" valign="top">One Hit Wonder</td>
  <td width="150" class="body_text" valign="top">Supporting</td>
  <td width="225" class="body_text" valign="top">Dir. Seyi River</td>
  </tr>
  <tr>
  <td></td>
  <td width="225" class="body_text" valign="top">The Opposite Sex</td>
  <td width="150" class="body_text" valign="top">Supporting</td>
  <td width="225" class="body_text" valign="top">Dir. Jonathan Silverman<br>
    Dir. Jennifer Finnegan</td>
  </tr>
  <tr>
  <td></td>
  <td width="225" class="body_text" valign="top">The Challenger</td>
  <td width="150" class="body_text" valign="top">Supporting</td>
  <td width="225" class="body_text" valign="top">Dir. Kent Moran</td>
  </tr>
  <tr>
  <td></td>
  <td width="225" class="body_text" valign="top">Threading Needles</td>
  <td width="150" class="body_text" valign="top">Supporting</td>
  <td width="225" class="body_text" valign="top">Dir. Jamal Hodge</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">Marathon</td>
    <td class="body_text" valign="top">Lead</td>
    <td class="body_text" valign="top">Dir. Biju Viswanath</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">As I Stand</td>
    <td class="body_text" valign="top">Lead</td>
    <td class="body_text" valign="top">Dir. Carlo Nicoletta</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">Casting</td>
    <td class="body_text" valign="top">Supporting</td>
    <td class="body_text" valign="top">Dir. Jonathan Stemmler</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">The Ultimate Answer</td>
    <td class="body_text" valign="top">Supporting</td>
    <td class="body_text" valign="top">Dir. Joshua Bloom</td>
  </tr>
  </tbody></table><br><br>
  
  
  
  
  <h3 style="text-align: center">Theater</h3>
  <table cellpadding="5" cellspacing="0" border="0">
  <tbody><tr>
  <td width="15"></td>
  <td width="225" class="body_text" valign="top">Where Have All the Girdles Gone?</td>
  <td width="150" class="body_text" valign="top">Solo Show</td>
  <td width="225" class="body_text" valign="top">Wings Theater</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">Art People</td>
    <td class="body_text" valign="top">Leila</td>
    <td class="body_text" valign="top">Players Theater</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">Screaming in the Wilderness</td>
    <td class="body_text" valign="top">Mordecai</td>
    <td class="body_text" valign="top">Sanford Meisner Theater</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">Hot Rock Hotel</td>
    <td class="body_text" valign="top">Judy</td>
    <td class="body_text" valign="top">Truck &amp; Warehouse Theater</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">U.S.O. International Tour</td>
    <td class="body_text" valign="top">&nbsp;</td>
    <td class="body_text" valign="top">Military Bases: Germany &amp; Italy</td>
  </tr>
  </tbody></table><br><br>
  
  
  
  
  <h3 style="text-align: center">Training</h3>
  <table cellpadding="5" cellspacing="0" border="0">
  <tbody><tr>
  <td width="15"></td>
  <td width="225" class="body_text" valign="top">B.A. Drama</td>
  <td width="375" class="body_text" valign="top">Catholic University of America</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">Acting</td>
    <td class="body_text" valign="top">Uta Hagen, Michael Disher</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">Scene Study</td>
    <td class="body_text" valign="top">Olympia Dukakis, Thomas G. Waites, Alec Baldwin</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">On Camera</td>
    <td class="body_text" valign="top">Richard Kline, Eric Loeb</td>
  </tr>
  <tr>
    <td></td>
    <td class="body_text" valign="top">On Camera Audition Technique</td>
    <td class="body_text" valign="top">Anthony Robert Grasso, Devin Shacket, James Rees</td>
  </tr>
  </tbody></table><br><br>
  
  
  
  
  <h3 style="text-align: center">Skills</h3>
  <table cellpadding="5" cellspacing="0" border="0">
  <tbody><tr>
  <td width="15"></td>
  <td width="615" class="body_text" valign="top">Excellent with children, special populations (Down Syndrome and seniors); moves gracefully.<br>
    Valid U.S. Passport. New York City Based.</td>
  </tr>
  </tbody></table>
  </td>
</tr>
</tbody></table><br><br>
</td></tr>
      <div class="col">
        {% if jekyll.environment == 'production' %}
          <a href="{{ site.root_url }}/assets/resume.pdf" download target="_blank" class="btn btn-primary btn-xl">
            <i class="fa fa-cloud"></i> Download Resume
          </a>
        {% else %}
          <a href="{{ site.base_url }}/assets/resume.pdf" download target="_blank" class="btn btn-primary btn-xl">
            <i class="fa fa-cloud"></i> Download Resume
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
